/* Additional styles */

body {
font-family: 'Montserrat', sans-serif;
background: url("images/main-hero-papel.jpg") no-repeat center center;
background-size: cover;
color: black;
height:100%;
width:100%;
}

/*remove padding for mobile devices*/
@media only screen and (max-width: 640px){
  .index-section-wrapper .content:not(.gallery-content) {
      padding-top: 10px;
      padding-bottom: 10px;
  }
}

/* Navbar */
.navbar {
  background-color: rgb(184,184,184);
  vertical-align: middle;
}

.navbar a {
  color: white !important;
}

.navbar-brand {
  font-size: large;
}



/* Hero */
.hero {

  padding-top: 100px;
  text-align: center;
}

.logo {
  width: 100%;
  margin: 0 0 15px 0;
  background: white;
  background: rgba(194,235,239,0.7);
  padding: 6px 15px 6px 15px;

}

/* Special */

.light-blue {
  background: #c2ebef;
  background: rgba(194,235,239,0.7);
  display: inline-block  !important;
  font-size: 1.4em;
  font-weight: 300;
  line-height: 55px;
  margin: 0 0 6px 0;
  padding: 0 7px;
  -moz-transition: all .8s;
  -ms-transition: all .8s;
  -webkit-transition: all .8s;
  transition: all .8s;
  color: #545454;
}

.intro-title {
  font-size: 3em;
  font-weight: normal;
  margin: 15px 0 0 0;
  text-transform: uppercase;
  background: white;
  background: rgba(194,235,239,0.7);
  color: #ff383f;
  display: inline-block  !important;
  padding: 6px 15px 6px 15px;
}

.obak {  color: #ff383f }

/* My standard vertical spacing classes */

.padding-inside-top-xs {
  padding-top: 10px;
}

.padding-inside-top-sm {
  padding-top: 20px;
}

.padding-inside-top-md {
  padding-top: 50px;
}

.padding-inside-top-lg {
  padding-top: 150px;
}

.padding-inside-top-xl {
  padding-top: 200px;
}

.padding-inside-bottom-xs {
  padding-bottom: 10px;
}

.padding-inside-bottom-sm {
  padding-bottom: 20px;
}

.padding-inside-bottom-md {
  padding-bottom: 50px;
}

.padding-inside-bottom-lg {
  padding-bottom: 150px;
}

.padding-inside-bottom-xl {
  padding-bottom: 200px;
}

.margin-above-top-xs {
  margin-top: 10px;
}

.margin-above-top-sm {
  margin-top: 20px;
}

.margin-above-top-md {
  margin-top: 50px;
}

.margin-above-top-lg {
  margin-top: 150px;
}

.margin-below-bottom-xs {
  margin-bottom: 10px;
}

.margin-below-bottom-sm {
  margin-bottom: 20px;
}

.margin-below-bottom-md {
  margin-bottom: 50px;
}

.margin-below-bottom-lg {
  margin-bottom: 150px;
}

.margin-below-bottom-xl {
  margin-bottom: 200px;
}
